xaca-backend/__pycache__/
xaca-backend/**/__pycache__/
*.pyc
*.pyo
*.pyd

xaca-backend/db.sqlite3
xaca-backend/*.sqlite3

xaca-backend/venv/
xaca-backend/env/
xaca-backend/.env

xaca-backend/media/
xaca-backend/staticfiles/

xaca-frontend/node_modules/
xaca-frontend/dist/
xaca-frontend/dist-ssr/
xaca-frontend/.env
xaca-frontend/.env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/
!.vscode/extensions.json

.idea/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db