.wrapper {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-size: 13px;
    color: #888;
}

.icono {
    font-size: 16px;
}